<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование информации об услуге</title>
</head>
<body>
    {% include '_menu.html' %}
    <form method="post">
        <table>
            <tr>
                <th>Пациент</th>
                <td>{{ form.patient }}</td>
                 <td>
                    {{ form.patient.errors if form.patient.errors }}
                </td>
            </tr>
            <tr>
                <th>Доктор</th>
                <td>
                    {{ form.doctor }}
                </td>
                <td>
                    {{ form.doctor.errors if form.doctor.errors }}
                </td>
            </tr>
            <tr>
                <th>Услуга</th>
                <td>
                    {{ form.service }}
                </td>
                <td>
                    {{ form.service.errors if form.service.errors }}
                </td>
            </tr>
            <tr>
                <th>Дата проведения</th>
                <td>
                    {{ form.service_date }}
                </td>
                <td>
                    {{ form.service_date.errors if form.service_date.errors }}
                </td>
            </tr>
            <tr>
                <th>Стоимость</th>
                <td>
                    {{ form.cost }}
                </td>
                <td>
                    {{ form.cost.errors if form.cost.errors }}
                </td>
            </tr>
            <tr>
               <td colspan="3">
                   {{ form.button_save }}
                   {% if service.id %}
                   {{ form.button_delete }}
                   {% endif %}
               </td>
            </tr>
        </table>
    </form>
</body>
</html>